<div class="container mt-5">
  <h1>Edit exhibition</h1>

  <%= render "form", exhibition: @exhibition%>

  <hr>
  <%= link_to exhibitions_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
