<h1>My Exhibitions</h1>
<p>Show all exhibitions according to their own specifications</p>
<h3>Marketing materials</h3>

<h3>WEBSOCKET</h3>




<ol id="exhibitions">
<% @exhibition.each do |exhibition| %>
<div class='btn-btn primary'>
<li><%= link_to exhibition.name, exhibition_path(exhibition.id) %></li>
<%= link_to exhibition_path(exhibition.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{exhibition.id}?"} do %>
<i class="fa-regular fa-trash-can"></i>
<% end %>
<%end%>
</div>
</ol>


<%= link_to new_exhibition_path do %>
    <i class="fa-solid fa-plus"></i> Add a new exhibition
  <% end %>
</div>
