<div class="container mt-5">
  <h1><%= @exhibition.name %> <small>(<%= @exhibition.date %>)</small></h1>
  <ul>
    <li>Date <%= @exhibition.date %></li>
    <li>Found on: <%= @exhibition.rating %></li>
  </ul>
