<h1>Our Amazing Brands/h1>


<%= button_to "New", action: "new" %>
 <form class='btn btn-primary' method="post" action="/controller/new" class="button_to">
     <div><input value="New" type="submit" /></div>
     <% link_to 'new' %>
  </form>


<ol>
<% @brands.each do |brand| %>
<div class='btn-btn primary'>
<li><%= brand.capitalize %></li>
<%end%>
</div>
</ol>
